{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}



{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-light" type="submit" name="btnSearch">Ajouter la catégorie</button>
    {{ form_end(form) }}


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
