{% extends 'base.html.twig' %}
{% block title %}Programe{% endblock %}

{% block body %}

    <ul>
        {% for show in program %}
            <li>{{ show.id }} - {{ show.title }} :</li>
            <p>{{ show.summary }}</p>
        {% endfor %}
    </ul>

{% endblock %}
